<h1><%= it works %></h1>
<p>Top Artists</p>

<%= link_to 'Create Artist', new_chart_artist_path(@chart) %>
<ul>
    <% @artist.each do |artist| %>
    <li><%= link_to artist.name, [@chart, @artist] %></li>
    <% end %>
</ul>

