<h1><%= @artist.name %></h1>
<br />
<%= link_to 'Edit Artist' edit_chart_artist_path([@chart, @artist]) %>
<%= link_to 'Delete Artist' [@chart, @artist], method: :delete %>
<%= link_to 'Back to Artists' chart_artist_path(@chart) %>